{% extends 'base.html' %}

{% block title %}Todo{% endblock %}

{% block content %}

<form action="{% url 'add' %}" method="post">
{% csrf_token %}
  <label for="title" class = "col-lg-4 control-label">Title of feature</label> <br>
  <input type="text" class = "form-control" name="title" id="title" placeholder="Your idea title here"/>
  <br>

  <label for="description" class = "col-lg-4 control-label">Description of feature </label> <br>
  <br>
  <textarea class ="form-control" name="description" id="description" placeholder="Description of your idea. Be as detailed as possible."></textarea>
  <br><br>
  <input type="submit" class="btn btn-success" value="Submit" />
</form>

<br>
<a href="/todo" class="btn btn-danger"> Go Back </a>


{% endblock %}

