{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

  <!--header image-->
   <div class="container">
    <div class="row">
      <div class="col-sm-12">
      <img src="../static/images/unicorn.jpg" class="center-block img-responsive" style='max-height:500px;' alt="Unicorn">
    </div>
  </div>
 </div> 


  <h2>Home</h2>
  <p> Welcome to the Unicornatron support site. Here you will be able to find support for all your Unicornatron needs and even help shape the future of the app!</p>
  <p>Please register now to post in the forum and become an active member of our community.</p>

  <h3> What is Unicronatron? </h3>
  <p> Unicornatron is the world's premier Unicorn attractor and tracking app! Yes, we mean thoes mythical horned horses with magic powers. For thousands of years, people have gone in search for these creatures. Some have wasted their entire lives in persuit of one, only to discover that some mischievious cretin had superglued a cone to a Shetland pony. Well... no more we say!</p>
  <p> Gone are the days of the epic quest. No more endless nights camped out in the elements waiting for an oppertunity to spot one of these creatures! No more dusty archives and ancient tomes! This is the 21st century and it's time the unicorns understood this and caught up.</p>
  <p> People simply do not have the time to pick up and leave their daily lives in search of a unicorn. And so, after years of research with superglue and cones, we have developed the Unicornatron app. Streamlining the whole process and bringing the unicorns to you, the user!

  <h3> How this site works </h3>
  <p> This support and developement site has been produced to allow you, the users, to help shape the future of the Unicornatron app. Head over to the "Todo" section of this site for a list of all current projects in development. Further to this, if you have a great idea that you want to see incorporated into the site, make your suggestions in the todo section via the "add todo" button. Remember, the more specific your description of your requested feature, the easier our development team will have to bring your idea to life.</p>
  <p> Each suggestion is carefully reviewed by our development team and once a idea has been selected, it will be given a status. At this point, the idea will begin funding and a number of funding options will appear in the funding section of the site. Users can choose their favourite features and help fund their development via a paypal donation. 
  <p>Once a feature has been complete, the funding options are removed from the funding section of the site and the todo status is updated to done. </p>

  <h3> Community </h3>
  <p> As well as contribruting to the future of the app, users can review our development teams personal blog. This will be regularly updated to reflect upon current works and will give detailed updated on the development process.</p>
  <p> If you want to communicate directly with our development team or even other app users, visit the site forum. Please note you will need an account before you are able to make posts.</p>
  <p> We hope you enjoy your visit to the Unicornatron- Support and development site, and we look forward to working with you!</p>
  <p> The Unicornatron team </p>

{% endblock %}
