{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
  <h2>Home</h2>
  <p> Welcome to the Unicornatron support site. Here you will be able to find support for all your Unicornatron needs and even help shape the future of the app!</p>
  <p>Please register now to post in the forum and gain the best experience.</p>

  <h3> How this site works </h3>
  <p> This support and developement site has been produced to allow you, the users, to help shape the future of the Unicornatron app. Head over to the "Todo" section of this site for a list of all current projects in development. Further to this, if you have a great idea that you want to see incorporated into the site, make your suggestions in the todo section via the "add todo" button. Remember, the more specific your description of your requested feature, the easier our development team will have to bring your idea to life.</p>
  <p> Each suggestion is carefully reviewed by our development team and once a idea has been selected, it will be given a status. At this point, the idea will begin funding and a number of funding options will appear in the funding section of the site. Users can choose their favourite features and help fund their development via a paypal donation. 
  <p>Once a feature has been complete, the funding options are removed from the funding section of the site and the todo status is updated to done. </p>

  <h3> Community </h3>
  <p> As well as contribruting to the future of the app, users can review our development teams personal blog. This will be regularly updated to reflect upon current works and will give detailed updated on the development process.</p>
  <p> If you want to communicate directly with our development team or even other app users, visit the site forum. Please note you will need an account before you are able to make posts.</p>
  <p> We hope you enjoy your visit to the Unicornatron- Support and development site, and we look forward to working with you!</p>
  <p> The Unicornatron team </p>

{% endblock %}
